@import "../../assets/base.css";

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

@media (max-width: 1000px) {
  .list-header {
    flex-direction: column;
    margin-bottom: 5px;
  }
}

.list-header__title {
  height: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.list-header__buttons {
  display: flex;
  gap: 16px;
}

.button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-radius: 8px;
  padding: 10.5px 15px;
  border: 1.4px solid;
}

.button:hover {
  opacity: 0.5;
}

.button--all {
  background: var(--color-primary);
  color: #ffffff;
  border-color: var(--color-primary);
}

.button--in {
  background: var(--grey-2);
  color: #343a40;
  border-color: var(--grey-2);
}

.button--out {
  background: var(--grey-2);
  border-color: var(--grey-2);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1000px) {
  .cards {
    gap: 5px;
  }
}

.card {
  height: 87px;
  display: flex;
  justify-content: space-between;
  background: var(--grey-1);
  border-radius: 4px;
  position: relative;
}

@media (max-width: 1000px) {
  .card {
    height: fit-content;
    height: 71px;
  }
}

.card:hover {
  background-color: #ffffff;
}

.card__green-bar {
  position: absolute;
  left: 0px;
  width: 4px;
  height: 87px;
  background: var(--color-secondary);
  border-radius: 4px 0px 0px 4px;
}

@media (max-width: 1000px) {
  .card__green-bar {
    height: 71px;
  }
}

.card__div-texts {
  display: flex;
  flex-direction: column;
  padding: 8px 0px 11px 14px;
}

.card__description {
  height: 39px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
  text-align: start;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .card__description {
    height: fit-content;
    font-size: 14px;
  }
}

.card__type {
  text-align: start;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--grey-3);
  /* padding: 14px; */
}

@media (max-width: 1000px) {
  .card__type {
    font-size: 14px;
  }
}

.card__div-value {
  display: flex;
  gap: 27px;
  align-items: center;
  margin-top: 25px;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .card__div-value {
    margin-top: 18px;
  }
}

.card__value {
  width: 102px;
  height: 22px;
  text-align: start;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #212529;
}

.button-trash {
  background: url("../../assets/img/trash.png") no-repeat scroll 6px 6px
    var(--grey-2);
  border-radius: 2.46154px;
  width: 22px;
  height: 22px;
  margin-right: 13px;
}

.button-trash:hover {
  background: url("../../assets/img/trashWhite.png") no-repeat scroll 6px 6px
    #343a40;
  color: #ffffff;
}

.container-start-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1000px) {
  .container-start-list {
    gap: 5px;
  }
}

.container-start-list__title {
  text-align: start;
  width: 440px;
  height: 34px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #343a40;
}

@media (max-width: 1000px) {
  .container-start-list__title {
    width: fit-content;
    padding: 0 10px;
    font-size: 15px;
  }
}

.container-start-list__no-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--grey-1);
  border-radius: 4px;
  height: 87.35px;
  max-width: 562px;
  padding: 20px 15px;
  justify-content: center;
  gap: 11px;
}

@media (max-width: 1000px) {
  .container-start-list__no-content {
    height: 70px;
  }
}
