@import "../../assets/base.css";

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.list-header__title {
  width: 137px;
  height: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.list-header__buttons {
  display: flex;
  gap: 16px;
}

.button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-radius: 8px;
  padding: 10.5px 15px;
}

.button--all {
  background: var(--color-primary);
  color: #ffffff;
  border: 1.4px solid var(--color-primary);
}

.button--in {
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
}

.button--out {
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
}

.cards {
}

.card {
}

.card__div-texts {
}

.card__description {
}

.card__type {
}

.card__value {
}

.button-trash {
}

.container-start-list {
}

.container-start-list__title {
  text-align: start;
  width: 440px;
  height: 34px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #343a40;
}

.container-start-list__no-content {
}

.container-start-list__big-rectangle {
}

.container-start-list__small-rectangle {
}
